/* ClientSidebar.css */

/* Sidebar container */
.client-sidebar {
    grid-area: sidebar;
    /* Existing styles */
    overflow-y: auto;
    /* background-color: #fff; */
    border-radius: 12px;
    box-sizing: border-box;
  }
  
  /* Sidebar header */
  .client-sidebar h3 {
    font-size: 1.5em;
    color: #f9f7f7;
    margin-bottom: 20px;
    text-align: left;
  }
  
  /* Sidebar list */
  .client-sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .client-sidebar li {
    flex: 1; /* Take up remaining horizontal space */
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    background-color: #3544534a;
    font-family: 'Inter', sans-serif;
    overflow-y: auto; /* Allow scrolling if content overflows */
    display: flex; /* Vertical stacking of content inside this area */
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
  }
  
  /* Hover effect for list items */
  .client-sidebar li:hover {
    background-color: #243f5a;
  }
  
  /* Sidebar text */
  .client-sidebar p {
    color: #f0e9e8;
  }
  